gradio
sqlalchemy
transformers
langchain 
langchain-community
langchain-core 
langchain-ollama 
langchain-openai 
langchain-text-splitters 
langsmith 
matplotlib-inline 
mdurl 
mpmath 
multidict 
multiprocess 
mypy-extensions 
nest-asyncio 
networkx 
numpy 
ollama 
openai 
pandas 
